﻿<div id="coverage-container">
    <div class="beams-container">
        <div class="mdl-button-group">
            <button id="kuBand" class="mdl-button  mdl-button1 mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                Ku-band
            </button>
            <button id="cBand" class="mdl-button  mdl-button1 mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                C-band
            </button>
            <button id="kaBand" class="mdl-button mdl-button1 mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                Ka-band
            </button>
        </div>
        <div class="mdl-button-group">
            <button id="iDirectId" class="mdl-button mdl-button2 mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                iDirect
            </button>
            <button id="DialogId" class="mdl-button mdl-button2 mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                Dialog
            </button>
            <button id="Sat3PlayId" class="mdl-button mdl-button2 mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                Sat3Play
            </button>
            <button id="Jupiter2Id" class="mdl-button mdl-button2 mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                Jupiter2
            </button>
        </div>
        <select id="beams" multiple=""></select>
        <input id="map_input" class="controls" type="text" placeholder="Search Box" widh="300">
        <input id="map_contact" class="controls" type="button" value="Contact" widh="300">
    </div>
    <div id="map"></div>
</div>
