﻿.newselect {
    cursor: pointer;
}

.modal-body label {
    font-size: 14px;
    padding-right: 20px;
}

.modal-body span {
    font-size: 12px;
}

.custom-sty, .custom-sty-tech {
    text-transform: none;
    font-size: 14px;
}

.set-flot-right {
    float: right;
}

.hide {
    display: none;
}

.show {
    display: inline;
}

.select-tech {
    border: 2px solid #dee2e6;
    padding: 10px;
    margin-top: 5px;
    background: whitesmoke;
}

.margin-left-right-zero {
    margin-left: 0;
    margin-right: 0;
}

fieldset {
    display: block;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    min-inline-size: min-content;
    border-width: 2px;
    border-style: solid;
    border-color: #dee2e6;
    border-image: initial;
}
legend {
    width:80px;
    font-size:1.2rem;
}
.table-bordered td, .table-bordered th {
    /*border:none;*/
}

table.dataTable thead .th-icon:before{
    content: none;
}
table.dataTable thead .th-icon:after{
    content: none;
}
.modal-body {
    max-height: 300px !important;
    overflow-x: hidden;
}
.modal-header {
    background: linear-gradient(45deg, #1de099, #1dc8cd);
    color: #fff;
}

button.close {
    color:#FFF;
    opacity:1;
}
