﻿@{
    ViewBag.Title = "Quote Application";
}
<div>
    <button type="button" class="btn btn-default set-flot-right" id="btncontact">Contact Us</button>
</div>
<div>
    <a href="@Request.Url.AbsoluteUri.Replace("/contact/","/mod/")" class="btn btn-success custom-sty margin-left-right-zero">Ku-band</a>
    <a href="@Request.Url.AbsoluteUri.Replace("/contact/","/mod/")" class="btn btn-outline-success custom-sty margin-left-right-zero">C-band</a>
    <a href="@Request.Url.AbsoluteUri.Replace("/contact/","/mod/")" class="btn btn-outline-success custom-sty margin-left-right-zero">Ka-band</a>
</div>
<div class="colo-md-5">
    <button type="button" class="btn btn-outline-default custom-sty-tech margin-left-right-zero">iDirect</button>
    <button type="button" class="btn btn-outline-default custom-sty-tech margin-left-right-zero">Dialog</button>
    <button type="button" class="btn btn-outline-default custom-sty-tech margin-left-right-zero">Sat3Play</button>
    <button type="button" class="btn btn-outline-default custom-sty-tech margin-left-right-zero">Jupiter2</button>

    <button type="button" class="btn btn-default set-flot-right" id="advfilter"><span class="fas fa-plus"></span> Advance Filter</button>
</div>
@*<div class="col-md-12" style="border:2px solid #dee2e6;padding:10px; margin-top:5px;">
    <Span style="font-size:18px;">Services: </Span>
    <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" class="custom-control-input" id="sohoser" value="SoHo Services" name="service" />
        <label class="custom-control-label" for="sohoser">SoHo Services</label>
    </div>
    <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" class="custom-control-input" id="businessser" value="Business Services" name="service" />
        <label class="custom-control-label" for="businessser">Business Services</label>
    </div>
    <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" class="custom-control-input" id="corser" value="Corporate Services" name="service" />
        <label class="custom-control-label" for="corser">Corporate Services</label>
    </div>
    <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" class="custom-control-input" id="vnoser" value="VNO Service" name="service" />
        <label class="custom-control-label" for="vnoser">VNO Service</label>
    </div>
</div>*@
<fieldset style="display:none;">
    <legend>Filter By:</legend>
    <div class="row">
        <div class="col-md-3">
            <label for="Satllite">Satellite:</label>
            <select class="form-control" id='satteliteFilter'>
                <option>---Select---</option>
            </select>
        </div>
        <div class="col-md-3">
            <label for="services">Services:</label>
            <select class="form-control" id='services'>
                <option>---Select---</option>
                <option>SoHo Services</option>
                <option>Business Services</option>
                <option>Corporate Services</option>
                <option>VNO Service</option>
            </select>
        </div>
        <div class="col-md-3">
            <label for="DataRate">Data Rates:</label>
            <select class="form-control" id='dataratefilter'>
                <option>---Select---</option>
            </select>
        </div>
        <div class="col-md-3">
            <br/>
            <button type="button" class="btn btn-outline-default" id="btnclear"><span class="fas fa-redo"></span> Clear</button>
        </div>
    </div>
    <div id="dvtech" class="col-md-12 hide select-tech">
        <h5>
            Selected Technology:
            <span class="label label-success"></span>
        </h5>
    </div>
</fieldset>
    <table id="dtInfo" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th class="th-icon">
                </th>
                <th class="th-sm">
                    Satellite
                </th>
                <th class="th-sm">
                    Description
                </th>
                <th class="th-sm tech">
                    Technology
                </th>
                <th class="th-sm">
                    DRFWD
                </th>
                <th class="th-sm">
                    DRRTN
                </th>
                <th class="th-sm">
                    EIRP (dBW)
                </th>
                <th class="th-sm">
                    G/T (K)
                </th>
            </tr>
        </thead>
        <tbody id="tbInfo">
        </tbody>
    </table>


    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Contact Us</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div id="dvContainer">
                        <div class="form-group">
                            <label for="Name">Number of concurrent users:</label>
                            <input type="text" class="form-control rounded-0" id="txtNumOfUsers" />
                        </div>
                        <div class="form-group">
                            <label for="Name">Email:</label>
                            <input type="text" class="form-control rounded-0" id="txtEmail" />
                        </div>
                        <div class="form-group">
                            <label for="Description">Data rates:</label>
                            <input id="txtDatarates" type="text" class="form-control rounded-0" />
                        </div>
                        <div class="form-group">
                            <label for="Description">Location:</label>
                            <span id="splocation"></span>
                        </div>
                        <div class="form-group">
                            <label for="Description">Description:</label>
                            <textarea id="txtDescription" class="form-control rounded-0"></textarea>
                        </div>
                    </div>
                    <span id="spmessage" style="display:none;">
                    </span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" id="btnsave">Save</button>
                    <button type="button" class="btn btn-outline-success" data-dismiss="modal">Close</button><br />                    
                </div>
            </div>

        </div>
    </div>

    <div id="dvSLA" class="hide">
        <div class="modal-header">
            <h4 class="modal-title">SLA's</h4>
        </div>
        <div class="modal-body">
            <div>
                <div class="form-group">
                    <span id="slaInfo"></span>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" id="hdnlatitute" value="@ViewBag.Latitute" />
    <input type="hidden" id="hdnlongitute" value="@ViewBag.Longitude" />
    <input type="hidden" id="hdnurl" value="@Request.Url.AbsoluteUri.ToLower()" />
    <input type="hidden" id="hdntech" value="@ViewBag.Tech" />
    <input type="hidden" id="hdnapiroot" value="@ViewBag.APIRootURL" />
    <input type="hidden" id="hdnband" value="@ViewBag.Band" />
    <!-- Your custom scripts (optional) -->
    <script src="https://satbeams.com/media/system/js/gc3.js"></script>
    <script src="/Scripts/mod-load.js"></script>
    <link href="/Content/mod-style.css" rel="stylesheet" />
