﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.js"></script>
    <link type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slim-select/1.17.0/slimselect.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.yellow-amber.min.css">
    <link type="text/css" href="/map/css/styles.css" rel="stylesheet" />
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB47HO4cv1NU4iqfo3LTKEHM1O9LZAHPpM&libraries=places"></script>

    <!---<script type="text/javascript" src="https://maps.satbeams.com/media/system/js/overlay.js"></script>--->
    <script type="text/javascript" src="/map/Scripts/overlay.js"></script>

    <script type="text/javascript" src="/map/Scripts/sat.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">
    <script type="text/javascript" src="//code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slim-select/1.17.0/slimselect.min.js"></script>

    <script type="text/javascript" src="/map/scripts\polyfills.js"></script>
    <script type="text/javascript" src="/map/scripts\coverage.js"></script>

    <script defer="" src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</head>
<body>
    <div>
        @Html.Partial("_mapinfo")
    </div>
</body>
</html>
<style type="text/css">
    .ui-widget-header {
        background: #018574;
        color: #fff;
    }    
</style>
