body {
  margin: 0;

  color: rgb(0, 0, 0);
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

#coverage-container {
  position: relative;
  height: 100vh;
}

#map {
  height: 100%;
}

.beams-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  margin: 10px;
}

.beams-container .beams-header {
  margin-bottom: 4px;
  font-size: 1.25rem;
  font-weight: 600;
  color: white;
}

.ss-option .beams-option {
  padding-left: 12px;
}

.ss-main {
  margin-top: 10px;
  min-width: 280px;
  max-width: 50%;
}

.ss-main .ss-multi-selected {
  min-height: 40px;
  border: none;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
  /* background-color: #414141; */
}

.ss-main .ss-multi-selected .ss-add {
  margin-top: 15px;
}

.ss-main .ss-content .ss-list {
  max-height: 340px;
}

.ss-main .ss-content .ss-list .ss-option {
  font-size: 15px;
}

.ss-main .ss-multi-selected .ss-values .ss-value {
  padding: 0;
}

.ss-main .ss-multi-selected .ss-values .ss-value .ss-value-text {
  padding: 4px 4px 4px 6px;
}

.ss-main .ss-multi-selected .ss-values .ss-value .ss-value-delete {
  margin: 0;
  padding: 4px;
  background-color: #4c85e0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;

  height: auto;
  height: calc(100% - 8px);
}

.ss-main .ss-multi-selected .ss-values .ss-value .ss-value-delete:hover {
  background-color: #4274c4;
}

.mdl-button-group {
  position: relative;
  display: block;
  vertical-align: middle;
}
.mdl-button-group::after {
  content: "";
  display: table;
  clear: both;
}
.mdl-button-group button {
  /* background-color: #414141; */
  background-color: #fff;
  display: inline-block;
  float: left;
  margin: 0px;
  box-shadow: none;
  border-radius: 0px;
  text-transform: none;
  color: black;

  border-right: 1px #EEE solid;
}
.mdl-button-group button:last-child {
  border-right: none;
}
.mdl-button-group button:hover {
  background-color: #FFC500;
  /* color: #fff; */
}
